body {
	background-image: url("/img/wallpaper.jpg") !important;
	background-repeat: no-repeat;
}

.form-inline {
	position: absolute;
	left: 76%;
}

.btn-light:hover {
	filter: brightness(120%) !important;
}

.btn-success {
	background-color: #e2a138 !important;
	border-color: #e2a138 !important;
}

.btn-success:hover {
	filter: brightness(120%) !important;
}

.navbar-nav {
	margin-left: 300px !important;
}

.nav-item {
	margin-left: 50px !important;
}

.navbar-brand {
	position: absolute;
	left: 20px !important;
}

.connection {
	width: 550px;
	position: absolute;
	top: 30% !important;
	left: 33% !important;
	background-color: rgba(0,0,0,0.5) !important;
	border-radius: 10px !important;
	border-color: #000 !important;
	padding: 15px 20px 15px 20px !important;
}

.form-group input {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 35px;
	color: #fff;
	font-size: 15px;
}

.form-group label {
	color: #fff;
}

.needs-validation .btn {
	background-color: #e2a138 !important;
	border-color: #e2a138 !important;
	width: 100%;
	margin-top: 15px;
}

.needs-validation .btn:hover {
	filter: brightness(120%) !important;
}

.icon {
	position: absolute;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	overflow: hidden;
	top: calc(-80px/2);
	left: calc(50% - 40px);
}

h3 {
	color: #fff;
	margin-left: 30%;
	padding: 10px 0 15px 10px;
}

.jumbotron {
	height: 300px;
	margin-top: 800px !important;
	text-align: center;
}

.contact .adresse {
	position: absolute;
	margin-left: 20% !important;
	margin-top: 2% !important;
}

.contact .phone {
	position: absolute;
	margin-left: 20% !important;
	margin-top: 6% !important;
}

.contact .mail {
	position: absolute;
	margin-left: 20% !important;
	margin-top: 10% !important;
}

.contact svg {
	border-radius: 30%;
}

.social svg {
	position: absolute;
	margin-top: 6% !important;
}
.social #facebook {
	margin-left: 6%;
}

.social #twitter {
	margin-left: 12%;
}

.social #instagram {
	margin-left: 18%;
}

/*.nav-item {
	font-size: 15px !important;
}
*/

.navbar {
	height: 47px !important;
}

.form-inline .form-control {
	height: 30px !important;
}

.form-inline .btn {
	line-height: 15px !important;

}